<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style/index.css">
  <title>Connexion Utilisateur</title>
</head>
<body>
  <!-- Vagues blanches -->
  <div class="wave-top"></div>
  <div class="wave-bottom"></div>

  <div class="container">
    <div class="left">
      <h2>Bienvenue sur votre espace</h2>
      <p>
        Connectez-vous pour accéder à votre compte, consulter vos projets et gérer vos activités.
      </p>
      <p style="margin-top: 40px;">
        Besoin d’aide ? <br>
        <strong>Contactez-nous :</strong> support@exemple.com
      </p>
    </div>

    <div class="right">
      <h3>Connexion Utilisateur</h3>
      <form action="categorie.html" method="get">
        <input type="email" placeholder="Adresse Email" name="email" required>
        <input type="password" placeholder="Mot de passe" name="password" required>
        <button type="submit">Se connecter</button>
      </form>
      <div class="footer">
        © 2025 VotreSite. Tous droits réservés.
      </div>
    </div>
 </div>
</body>
</html>
